DEV=true
VITE_STICKER_LOGOS=false

R2_ACCOUNT_ID=
R2_BUCKET=
R2_ACCESS_KEY_ID=
R2_SECRET_ACCESS_KEY=

CF_ACCOUNT_ID=
CF_API_TOKEN=
D1_DATABASE_ID=

BETTER_AUTH_SECRET=
BETTER_AUTH_URL=
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
ADMIN_EMAIL=
