DEV=true
VITE_STICKER_LOGOS=false

R2_ACCESS_KEY_ID=
R2_SECRET_ACCESS_KEY=

CLOUDFLARE_ACCOUNT_ID=
CLOUDFLARE_API_TOKEN=
D1_DATABASE_ID=

BETTER_AUTH_SECRET=
BETTER_AUTH_URL=
ADMIN_EMAIL=

GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
